In [1]:
import pandas as pd

df = pd.read_csv("covtype.csv")

#delete n rows
n = 300000
df = df.iloc[:-n]
df

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281007,3088,108,15,860,278,865,245,221,101,1421,...,0,0,0,0,0,0,0,0,0,1
281008,3079,112,15,834,269,841,245,223,103,1400,...,0,0,0,0,0,0,0,0,0,1
281009,3073,116,15,808,263,816,245,224,105,1379,...,0,0,0,0,0,0,0,0,0,1
281010,3065,113,18,782,255,792,248,218,92,1358,...,0,0,0,0,0,0,0,0,0,1
281011,3055,104,29,757,245,768,253,189,42,1338,...,0,0,0,0,0,0,0,0,0,1

In [2]:
#create timestamp
timestamp = pd.date_range(start=pd.Timestamp('00:00:00'), end=pd.Timestamp('00:04:46'), freq='L') #millisecond
#create df from timestamp
timestamp = pd.DataFrame(timestamp, columns = ['datetime'])
timestamp

                      datetime
0      2022-05-18 00:00:00.000
1      2022-05-18 00:00:00.001
2      2022-05-18 00:00:00.002
3      2022-05-18 00:00:00.003
4      2022-05-18 00:00:00.004
...                        ...
285996 2022-05-18 00:04:45.996
285997 2022-05-18 00:04:45.997
285998 2022-05-18 00:04:45.998
285999 2022-05-18 00:04:45.999
286000 2022-05-18 00:04:46.000

[286001 rows x 1 columns]

In [3]:
#delete n rows 286.001-281.011
timestamp.drop(timestamp.tail(4990).index, inplace=True)
df['datetime'] = timestamp
df

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type,datetime
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,5,2022-05-18 00:00:00.000
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,5,2022-05-18 00:00:00.001
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,2,2022-05-18 00:00:00.002
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,2,2022-05-18 00:00:00.003
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,5,2022-05-18 00:00:00.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281007,3088,108,15,860,278,865,245,221,101,1421,...,0,0,0,0,0,0,0,0,1,2022-05-18 00:04:41.007
281008,3079,112,15,834,269,841,245,223,103,1400,...,0,0,0,0,0,0,0,0,1,2022-05-18 00:04:41.008
281009,3073,116,15,808,263,816,245,224,105,1379,...,0,0,0,0,0,0,0,0,1,2022-05-18 00:04:41.009
281010,3065,113,18,782,255,792,248,218,92,1358,...,0,0,0,0,0,0,0,0,1,2022-05-18 00:04:41.010
281011,3055,104,29,757,245,768,253,189,42,1338,...,0,0,0,0,0,0,0,0,1,NaT

In [7]:
df.to_csv('for_t.csv')

In [8]:
df.columns

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1',
       'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4',
       'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5',
       'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10',
       'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14',
       'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18',
       'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22',
       'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26',
       'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30',
       'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34',
       'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38',
       'Soil_Type39', 'Soil_Type40', 'Cover_Type', 'datetime'],
      dtype='object')